<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>YeeBay-All Listins </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2" align="center">

    <h3>All Listings</h3>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3" >Add New</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listing:${allListings}">
            <td th:text="${listing.getId()}"></td>
            <td th:text="${listing.getTitle()}"></td>
            <td th:text="${listing.getCategory()}"></td>
            <td th:text="${listing.getBrand()}"></td>
            <td th:text="${listing.getItemCondition()}"></td>
            <td th:text="${listing.getPrice()}"></td>
            <td> <a th:href="@{/find?id={id}(id=${listing.getId()}) }"
                    class="btn btn-primary">Show More</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>

