<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>YeeBay-All Listings </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2" align="center">

    <h3>The listing ID you search for: <span th:text="${id}"/> does not meet our records.</h3>
    <a th:href="@{/all}"> Back to all list items</a>
</div>


</body>
</html>

